/*
This file contains some custom palettes for the CSS Inlay plugin.
Feel free to edit this file after downloading to your snippets folder.

aci: AutoCAD Color Index
as: Australian Color Standard (AS 2700)
bs: British Standard Colors (BS 381, BS 4800)
fs: Federal Standard (FS 595C, ANA)
pantone: Pantone
ral: RAL Colors (Classic, Design, Effect, Plastics)
*/

.css-color-inlay {
  &.aci-0 { color: #000000; }
}
